# Ignore Python cache files in Stage 1 - Python/Tugas 5 - Functions & Reusability
Stage 1 - Python/Tugas 5 - Functions & Reusability/__pycache__/
Stage 1 - Python/Tugas 5 - Functions & Reusability/*.pyc
